<div>
  Object:
  <%= link_to("Object",          :controller => 'types', :action => 'object') %> |
  <%= link_to("Nil",             :controller => 'types', :action => 'nil') %> |
  <%= link_to("Boolean",         :controller => 'types', :action => 'boolean') %> |
  <%= link_to("Function",        :controller => 'types', :action => 'function') %> |
  <%= link_to("Character",       :controller => 'types', :action => 'character') %> |
  <%= link_to("String",          :controller => 'types', :action => 'string') %> |
  <%= link_to("Number",          :controller => 'types', :action => 'number') %> |
  <%= link_to("Range",           :controller => 'types', :action => 'range') %> |
  <%= link_to("Array",           :controller => 'types', :action => 'array') %> |
  <%= link_to("Hash",            :controller => 'types', :action => 'hash') %>
</div>
<div>
  Meta:
  <%= link_to("Class",           :controller => 'types', :action => 'class') %> |
  <%= link_to("Interface",       :controller => 'types', :action => 'interface') %> |
  <%= link_to("MethodSignature", :controller => 'types', :action => 'method_signature') %>
</div>
