<div>
  Scalar:
  <%= link_to("ValueType",       :controller => 'types', :action => 'value_type') %> |
  <%= link_to("Void",            :controller => 'types', :action => 'void') %> |
  <%= link_to("Boolean",         :controller => 'types', :action => 'boolean') %> |
  <%= link_to("Natural",         :controller => 'types', :action => 'natural') %> |
  <%= link_to("Integer",         :controller => 'types', :action => 'integer') %> |
  <%= link_to("Float",           :controller => 'types', :action => 'float') %> |
  <%= link_to("Character",       :controller => 'types', :action => 'character') %> |
  <%= link_to("CString",         :controller => 'types', :action => 'cstring') %> |
  <%= link_to("Pointer",         :controller => 'types', :action => 'pointer') %> |
  <%= link_to("Reference",       :controller => 'types', :action => 'reference') %> |
  <%= link_to("Function",        :controller => 'types', :action => 'function') %> |
  <%= link_to("Nil",             :controller => 'types', :action => 'nil') %>
</div>
<div>
  Object:
  <%= link_to("Object",          :controller => 'types', :action => 'object') %> |
  <%= link_to("String",          :controller => 'types', :action => 'string') %> |
  <%= link_to("Number",          :controller => 'types', :action => 'number') %> |
  <%= link_to("Range",           :controller => 'types', :action => 'range') %> |
  <%= link_to("Array",           :controller => 'types', :action => 'array') %> |
  <%= link_to("Hash",            :controller => 'types', :action => 'array') %>
</div>
<div>
  Meta:
  <%= link_to("Type",            :controller => 'types', :action => 'type') %> |
  <%= link_to("Class",           :controller => 'types', :action => 'class') %> |
  <%= link_to("Interface",       :controller => 'types', :action => 'interface') %> |
  <%= link_to("MethodSignature", :controller => 'types', :action => 'method_signature') %>
</div>
