<div>
  <%= link_to("Literals",          :controller => 'features', :action => 'literals') %> |
  <%= link_to("Flow Control",      :controller => 'features', :action => 'flow_control') %> |
  <%= link_to("Methods",           :controller => 'features', :action => 'methods') %> |
  <%= link_to("Closures",          :controller => 'features', :action => 'closures') %> |
  <%= link_to("Interfaces",        :controller => 'features', :action => 'interfaces') %> |
  <%= link_to("Implementations",   :controller => 'features', :action => 'implementations') %> |
  <%= link_to("Dispatch",          :controller => 'features', :action => 'dispatch') %> |
  <%= link_to("Constants",         :controller => 'features', :action => 'constants') %> |
  <%= link_to("Object Life Cycle", :controller => 'features', :action => 'object_life_cycle') %> |
  <%= link_to("Libraries",         :controller => 'features', :action => 'libraries') %>
</div>

