<div>
  <%= link_to("Structures",   :controller => 'features', :action => 'structures') %> |
  <%= link_to("Flow Control", :controller => 'features', :action => 'flow_control') %> |
  <%= link_to("Functions",    :controller => 'features', :action => 'functions') %> |
  <%= link_to("Closures",     :controller => 'features', :action => 'closures') %> |
  <%= link_to("Methods",      :controller => 'features', :action => 'methods') %> |
  <%= link_to("Interfaces",   :controller => 'features', :action => 'interfaces') %> |
  <%= link_to("Pointers",     :controller => 'features', :action => 'pointers') %> |
  <%= link_to("Literals",     :controller => 'features', :action => 'literals') %> |
</div>
